<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Interview Feedback</h1>
        {% for question_response in question_responses %}
        <div class="feedback-section">
            <h2>{{ question_response.question }}</h2>
            {% for response in question_response.responses %}
            <div class="response">
                    <span style="font-weight:bold">{{ response.user }}: </span><span style="color:{{ response.color }};font-weight:bold">{{ response.score }}</span>
                <p class="comment">"{{ response.comment }}"</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>

